body {
    font-family: Arial, sans-serif;
}

#task-form {
    margin-bottom: 1em;
}

#task-list {
    list-style-type: none;
    padding: 0;
}

.task-item {
    margin-bottom: 0.5em;
}

/* Add this to your /public/styles.css file */
.drag-handle {
    cursor: move; /* This gives a visual indication that the element is movable */
    user-select: none; /* This prevents the text from being selectable, which can interfere with the drag action */
    margin-right: 10px; /* Adjust spacing as needed */
}

  

.completed {
    text-decoration: line-through;
}

.delete-icon {
    display: none;
    margin-left: 1ch; /* character space for breathing room */
    cursor: pointer;
    color: red;
}

.task-item:hover .delete-icon {
    display: inline; /* Show only on hover */
}

/* Add this to your styles.css file */
.sortable-chosen {
    opacity: 0.6; /* Make the item semi-transparent while dragging */
    background-color: #f0f0f0; /* Change background color */
    border: 1px dashed #000; /* Add a dashed border */
}

/* Add this to your styles.css file */
.sortable-ghost {
    opacity: 0.4; /* Make the placeholder semi-transparent */
    background-color: #c8ebfb; /* Change background color */
}
